body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2NlbHNpdXMtY29udmVydC5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOiIxMjAwIn19fQ==');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    color: #333;
}

#temp-input {
    padding: 5px;
    font-size: 16px;
}

#convert-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: greenyellow;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}
